/target/
/.idea/
*.iml
/.vscode/
/.DS_Store
/logs/
/.mvn/
*.log
/docs/*
!/docs/project-overview.md
/database/
/src/main/resources/application.yml
/src/main/resources/application-local.yml
/src/main/resources/application-dev.yml
/src/main/resources/application-pro.yml
